@model IEnumerable<Shop.Models.Product>

@{
	ViewData["Title"] = "Index";
	var createProductRoles = new List<string>() { "Admin", "ProductManager" };
	var categories = ViewData["Categories"] as IEnumerable<Shop.Models.ProductCategory> ?? new List<ProductCategory>();
	var selectedCategoryId = ViewData["SelectedCategoryId"] as int?;
}

<h1>Catalog</h1>

@if (createProductRoles.Any(r => User.IsInRole(r)))
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
	<div>
		<label for="categoryId">Category:</label>
		<select id="categoryId" name="categoryId">
			<option value="-1">All</option>
			@foreach (var category in categories)
			{
				<option value="@category.ProductCategoryId" selected="@(category.ProductCategoryId == selectedCategoryId ? "true" : false)">
					@category.Name
				</option>
			}
		</select>
		<button type="submit">Filter</button>
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductionDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Brand)
			</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model ?? new List<Product>())
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductionDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Brand)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
				</td>
				<td>
					<form method="post" asp-controller="Cart" asp-action="Create" class="add-to-cart-form">
						<input type="hidden" name="productId" value="@item.ProductId" />
						<input type="hidden" name="productPrice" value="@item.Price" />
						<input type="number" name="productQuantity" value="1" min="1" max="7" />
						<button type="submit">Add to Cart</button>
					</form>
				</td>
				<td>
					<a asp-controller="Reviews" asp-action="Index" asp-route-productId="@item.ProductId">Reviews</a>
				</td>
			</tr>
		}
	</tbody>
</table>
